/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1e1e2e;
    background-alt: #181825;
    foreground:     #cdd6f4;
    selected:       #f38ba8;
    active:         #f9e2af;
    urgent:         #89b4fa;
}
