/* @import "mocha.css"; */
@import "rose-pine.css";

/* Global */
* {
  font-family: JetBrains Mono Nerd Font;
  font-weight: bold;
}

#custom-sep {
  font-size: 18px;
  color: @surface;
}

#custom-sep,
#custom-playerctl,
#custom-cava,
#workspaces,
#clock,
#cpu,
#memory,
#pulseaudio,
#backlight,
#network,
#battery,
#tray {
  padding: 5px 10px;
  border-style: solid;
  background-color: @base;
  opacity: 1;
  margin: 5px 0px 5px 0px;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
  color: @base;
}

/* END-Global */

/* Left */
#workspaces {
  background: @base;
  border-radius: 12px;
}

#workspaces button {
  border-radius: 16px;
  color: @muted;
}

#workspaces button.active {
  color: @rose;
  background-color: transparent;
  border-radius: 16px;
}

#workspaces button:hover {
  background-color: @rose;
  color: @base;
  border-radius: 100%;
}

#custom-cava {
  border-radius: 12px;
  color: @subtle;
}

#custom-playerctl {
  border-radius: 12px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: @text;
}

/* END-Left */

/* Middle */
#clock {
  color: @foam;
  border-radius: 12px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* END-Middle */

/* Right */
#tray {
  border-radius: 12px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#cpu {
  color: @foam;
  border-radius: 10px 0 0 10px;
}

#memory {
  color: @foam;
}

#pulseaudio {
  color: @gold;
}

#backlight {
  color: @gold;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#battery {
  color: @rose;
  border-radius: 10px 0 0 10px;
}

#battery.charging {
  color: @foam;
}

@keyframes blink {
  to {
    color: @love;
  }
}

#battery.critical:not(.charging) {
  color: @love;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: @rose;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

/* END-Right */
